body{
    background-color: white;
    margin: 0;
}
.backpic{
    height: 400px;
    background-color: #7FBF3B;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    display: flex;
}

.text{
    color: white;
    text-align: center;
}

.pics{
    gap: 100px;
    padding: 50px;
    justify-content: center;
    display: flex;
}

.pic{
    background-color: white;
    width: 600px;
    text-align: center;
}

.pic img{
    height: 150px;
    width: 300px;   

}

.pic button{
    background-color: black;
    text-align: center;
    color: orange;
}

.pic p{
    font-size: 15px;
}
button{
    background-color: #3B87BF;
    color: white;
}

.big{
    font-size: 500%;
    opacity: 0.5;
}

.big2{
    font-size: 200%;
    opacity: 0.5;
}

.ln{
    color: #3B87BF;
}

.ln1{
    opacity: 0.8;
}

.ln3{
    height: 100px;
}

.menu{
    list-style: none;
    display: flex;
    gap: 40px;
}
.menu li{
    cursor: pointer;
}

a{
    color: white;
}

.top{
    background-color: black;
}


.nav{
    display: flex;
    align-items: center;
}

.Search{
    margin-left: 1289px;
    display: flex;
    align-items: center;
}